
<div class="text-center">
  <%= link_to "New subject", new_subject_path, class: 'btn btn-primary' %>
</div>
<br/>
<div class="card shadow">
  <div class="card-header">
    <h4>
      Subject
    </h4>
  </div>
  <div class="card-body">
  
    <b>Name:</b>
    <%= @subject.name %>
    <br>
  
    <b>Duration:</b>
    <%= @subject.duration %>
    <br>
  
    <b>Client price:</b>
    <%= @subject.client_price %>
    <br>
  
  </div>
  <div class="card-footer">
     <%= link_to 'Back', subjects_path %> |
    <%= link_to 'Edit', edit_subject_path(@subject), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', @subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
