
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :classroom %>
    <%= f.association :subject %>
    <%= f.input :start_time, ampm: true, minute_step: 15 %>
    <br/>
    <% Course::DAYS_OF_THE_WEEK.each do |day| %>
      <label>
          <%= f.check_box day %>
          <%= day.to_s.humanize %>
      </label>
      <br>
  
  <% end %>
    <br/>

    
    <h3>Enrollments</h3>  
    <%= link_to_add_nested(f, :enrollments, '#enrollments') do %>
      <p class="btn btn-link">Add Enrollment</p>
    <% end %>

    <div id='enrollments'>
      <%= f.simple_fields_for :enrollments do |enrollment| %>
        <%= render 'enrollment_fields', form: enrollment %>
      <% end %>
    </div>
    
  </div>  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>


